.main-content {
  margin-top: 20px;
}

#industries {
  .col-xs-4 {
    @media all and (max-width:568px) {
      float: none;
      margin: 0px auto;
      width: auto;
      padding-left: 25px;
    }
  }
}