#footer {
  .info {
    @media all and (max-width: 991px) {
      text-align: center;
    }

    .residence {
      ul {
        @media all and (max-width: 767px) {
          margin-left: -15px;
        }
      }
    }
    .touch ul li {
      @media all and (max-width: 767px) {
        margin: 0 15px 0 0
      }
    }
  }
}