.margin-top-6 {
  margin-top: 6px;
}

.navbar {
  .navbar-header {
    @media all and (max-width: 991px) {
      padding-top: 10px;
      float: none;
    }
  }
}

.navbar-left {
  h1 {
    margin-top: 3px;
  }
}

.navbar-collapse {
  .navbar-text:last-child {
    margin-left: 135px;
    @media all and (max-width:991px) {
      margin-left: 0px;
    }
  }
}

.navbar-text {
  @media all and (max-width: 767px) {
    margin: 5px 0px;
  }
}

.navbar-left {
  @media all and (max-width: 991px) {
    display: block;
    margin: 0px auto;
    width: 300px;
    text-align: center;
  }
  @media all and (max-width: 567px) {
    float: left;
    font-size: 14px !important;
  }
}

.navbar {
  .phone-number {
    @media all and (max-width: 991px) {
      font-size: 15px;
      margin-bottom: 20px;
    }
  }
}

.navbar-inverse {
  .navbar-toggle {
    border: 1px solid white;
    outline: none;
    border-radius: 4px;
    padding: 7px;
    position: absolute;
    top: 18px;
    right: 4px;
  }
  .nav {
    > li {
      > a {
        @media all and (max-width:991px) {
          padding: 5px;
          // Set the width so that the border on the top isn't too wide
          width: 60px;
          display: block;
          margin: 0px auto;
        }
      }
    }
    > li.active {
      > a {
        @media all and (max-width: 991px) {
          border-top: 2px solid #9f0000;
        }
      }
    }
  }
}

.navbar-header {
  h1 {
    @media all and (max-width: 567px) {
      font-size: 20px !important;
      text-align: left;
      margin-left: 8px;
    }
  }
}

.lavalamp-object {
  border-top: 3px solid #9f0000;
  @media all and (max-width: 991px) {
    display: none;
  }
}