.margin-top-6 {
  margin-top: 6px;
}

.navbar {
  .navbar-header {
    @media all and (max-width: 991px) {
      padding-top: 6px;
      float: none;
    }
    .navbar-brand {
      padding: 10px;
      margin-top: 5px;
      img {
        width: 100%;
      }
    }
  }
  .phone-number {
    font-size: 13px;
    margin-bottom: 20px;
    @media all and (min-width:992px) {
      font-size: 14px;
    }
    a {
      color: white;
    }
  }

  .collapse {
    @media all and (min-width: 992px) {
      display: inline-block !important;
    }
  }
}

.navbar-collapse {
  .navbar-text:last-child {
    margin-left: 50px;
    @media all and (max-width: 991px) {
      margin-left: 0px;
    }
  }
}

.navbar-text {
  @media all and (max-width: 767px) {
    margin: 5px 0px;
  }
}

.navbar-left {
  width: 275px;
  @media all and (min-width: 450px) {
    margin: 0 auto;
    display: block;
  }
  @media all and (min-width: 991px) {
    width: 360px;
  }

  // For when header text is displayed
  //  h1 {
  //    margin-top: 3px;
  //    @media all and (max-width: 991px) {
  //      display: block;
  //      margin: 0px auto;
  //      width: 300px;
  //      text-align: center;
  //    }
  //    @media all and (max-width: 567px) {
  //      width: 300px;
  //      text-align: center;
  //      margin: 0 auto;
  //      display: block;
  //    }
  //    @media all and (max-width: 449px) {
  //      font-size: 20px;
  //      text-align: left;
  //      margin: 4px 0 0 10px;
  //      display: block;
  //    }
  //  }
}

.navbar-inverse {
  .navbar-toggle {
    border: 1px solid white;
    outline: none;
    border-radius: 4px;
    padding: 7px;
    position: absolute;
    top: 18px;
    right: 4px;
  }
  .nav {
    @media all and (min-width: 992px) {
      margin-top: 40px;
    }
    > li {
      > a {
        padding: 5px;
        @media all and (max-width: 991px) {
          // Set the width so that the border on the top isn't too wide
          width: 75px;
          display: block;
          margin: 0px auto;
        }
        @media all and (min-width: 992px) {
          font-size: 14px;
        }
      }
      @media all and (min-width: 992px) {
        margin: 0 10px;
      }
    }
    > li.active {
      > a {
        @media all and (max-width: 991px) {
          border-top: 2px solid #9f0000;
        }
      }
    }
  }

  .navbar-right {
    ul.info {
      overflow: hidden;
      padding: 0;
      width: 290px;
      margin: 10px auto;
      @media all and (min-width: 450px) {
        width: 300px;
      }
      @media all and (min-width: 991px) {
        width: 170px;
      }
      li {
        float: left;
        margin-right: 20px;
        &.googleMapsLink, &.appleMapsLink {
          margin-right: 0px;
        }
        @media all and (min-width: 450px) {
          float: left;
          margin-right: 25px;
          &:last-child {
            margin-right: 0px;
          }
        }
        @media all and (min-width: 992px) {
          margin-bottom: 10px;
        }
      }
    }
  }
}